{% extends 'core.html' %}


{% block title %}
Profile
{% endblock title %}



{% block body %}
      <div class="color_div">
         <img src="{{profile.avatar.url}}" width="400" height="400">
         <h1>{{profile.user.username}}'s Profile</h1>
         <p>{{profile.bio}}</p>
         <h1>Followers</h1>   

         {% if not following %}
           <a href = "{% url 'follow' profile.id %}">Follow</a>
         {% else %}
            <a href = "{% url 'unfollow' profile.id %}">UnFollow</a>
         {% endif %}
         <br>
         <br>
         {% for follower in followers %}
           <div>
              <img src="{{follower.follower.avatar.url}}" width="200" height="200">
              <h2>{{follower.follower.user}}</h2>
           </div>
         {% endfor %}
         {% if request.user.id == profile.user.id %}
         <p><a href="{% url 'edit-profile' profile.id %}">edit</a></p>
         {% endif %}
      </div>
{% endblock body%}